In [13]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [14]:
si = pd.read_csv("Superhero/superhero_info - superhero_info.csv")
si.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [15]:
si.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

In [16]:
sp = pd.read_csv("Superhero/superhero_powers - superhero_powers.csv")
sp.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

In [17]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_names  667 non-null    object
 1   Powers      667 non-null    object
dtypes: object(2)
memory usage: 10.5+ KB

In [19]:
# Merge the two DataFrames
merged = pd.merge(si, sp, left_on='Hero|Publisher', right_on='hero_names', how='inner')
merged.head()

Empty DataFrame
Columns: [Hero|Publisher, Gender, Race, Alignment, Hair color, Eye color, Skin color, Measurements, hero_names, Powers]
Index: []

In [ ]:
# Create one-hot-encoded columns for each power
powers = sp.columns[1:]
for power in powers:
    merged[power] = merged['hero_names'].isin(sp[sp[power] == 1]['hero_names']).astype(int)

In [21]:
# Drop unnecessary columns
merged = merged.drop(columns=['Powers', 'Measurements'])

In [22]:
# Display head() of the combined DataFrame
print(merged.head())

Empty DataFrame
Columns: [Hero|Publisher, Gender, Race, Alignment, Hair color, Eye color, Skin color, hero_names]
Index: []